---
import CategoryHero from "../../components/CategoryHero.astro";
import Breadcrumbs from "../../components/Breadcrumbs.astro";
import TechPosts from "../../components/TechPosts.astro";
import ArticleCard from "../../components/ArticleCard.astro";
import TopHighlights from "../../components/TopHighlights.astro";
import Icon from "astro-icon";
import Category from "../../layouts/Category.astro";
import { getCollection } from "astro:content";
import WeeklyUpdates from "../../components/WeeklyUpdates.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<Category title="Blog Tech" description="Tech news everyday">
  <Breadcrumbs pageName="Blog Tech" />
  <CategoryHero />

  <section class="mx-auto max-w-[1200px] my-5">
    <div class="flex flex-col lg:flex-row lg:w-full">
      <div class="w-full px-3">
        <ArticleCard
          imgSrc="images/team.jpg"
          tagName="Tech"
          tagColor="background: #B440EB;"
          title="Find Ideas for your startup"
          subtitle="Best tips and tricks!"
        />
      </div>

      <div
        class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-1 my-5 lg:my-0 gap-8 w-full"
      >
        <TechPosts
          imgSrc="../images/robot-hand.jpg"
          title="New development of robot-hands"
          date="May 1, 2023"
        />
        <TechPosts
          imgSrc="../images/neuron.jpg"
          title="Neuralink is gonna be a breakthrough"
          date="Oct 30, 2023"
        />

        <TechPosts
          imgSrc="../images/macbook.jpg"
          title="How to choose a MacBook for you"
          date="Mar 11, 2023"
        />

        <TechPosts
          imgSrc="../images/spaceman.jpg"
          title="World's famous astronauts"
          date="Apr 12, 2023"
        />
      </div>
    </div>
  </section>

  <section class="my-10 max-w-[1200px] mx-auto">
    <div class="px-3 dark:text-slate-100">
      <h2 class="text-2xl font-medium">Todays top highlights</h2>

      <p class="text-sm dark:text-gray-400">
        Latest breaking news, pictures, videos and special reports
      </p>

      <div
        class="grid md:grid-cols-2 lg:grid-cols-3 lg:gap-20 md:gap-5 lg:w-full"
      >
        <TopHighlights
          imgSrc="images/building.jpg"
          tagName="Travel"
          tagColor="background: #62EB40;"
          title="Iconic cities to visit in western Europe"
          intro="Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat optio veritatis rerum facere voluptatem eos at adipisci vel enim dolor, provident nostrum mollitia est tenetur esse, fuga fugit aut illum."
        />
        <TopHighlights
          imgSrc="images/art.jpg"
          tagName="Art"
          tagColor="background: #EB9240;"
          title="Can you name at least 3 artists? Test your knowladge!"
          intro="Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat optio veritatis rerum facere voluptatem eos at adipisci vel enim dolor, provident nostrum mollitia est tenetur esse, fuga fugit aut illum."
        />
        <TopHighlights
          imgSrc="images/ai.jpg"
          tagName="Tech"
          tagColor="background: #B440EB;"
          title="Reasons why you should scare of AI (Or not)"
          intro="Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat optio veritatis rerum facere voluptatem eos at adipisci vel enim dolor, provident nostrum mollitia est tenetur esse, fuga fugit aut illum."
        />
        <TopHighlights
          imgSrc="images/dj.jpg"
          tagName="Music"
          tagColor="background: #4070EB;"
          title="Are you a really good DJ? Free checklist for everyone!"
          intro="Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat optio veritatis rerum facere voluptatem eos at adipisci vel enim dolor, provident nostrum mollitia est tenetur esse, fuga fugit aut illum."
        />
        <TopHighlights
          imgSrc="images/hall.jpg"
          tagName="Travel"
          tagColor="background: #62EB40;"
          title="Extraordinary buildings all around the world"
          intro="Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat optio veritatis rerum facere voluptatem eos at adipisci vel enim dolor, provident nostrum mollitia est tenetur esse, fuga fugit aut illum."
        />
        <TopHighlights
          imgSrc="images/music.jpg"
          tagName="Music"
          tagColor="background: #4070EB;"
          title="How to choose your second guitar?"
          intro="Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat optio veritatis rerum facere voluptatem eos at adipisci vel enim dolor, provident nostrum mollitia est tenetur esse, fuga fugit aut illum."
        />
      </div>

      <div class="bg-blue-50 dark:dark:bg-[#005C79] rounded-md">
        <a
          class="flex justify-center items-center gap-2 text-blue-500 dark:text-slate-100 py-3"
          href="#"
          >Load more posts<span
            ><Icon class="w-[16px]" name="bi:arrow-down-circle" /></span
          ></a
        >
      </div>
    </div>
  </section>

  <section class="mt-5 mx-auto bg-gray-100 dark:bg-[#005C79]">
    <div class="px-3 dark:text-slate-100 text-center py-10">
      <h2 class="text-2xl lg:text-3xl font-medium">Weekly updates</h2>

      <p class="text-sm dark:text-gray-400">
        Latest breaking news, pictures, videos and special reports
      </p>
    </div>

    <div class="max-w-[1200px] mx-auto grid sm:grid-cols-2 md:grid-cols-4">
      <WeeklyUpdates
        imgSrc="/images/cosmos.jpg"
        altTag="Astronaut"
        tagColor="background-color:red"
        tagName="Bussiness"
        title="5 Ways to build your perfect bussiness"
      />
      <WeeklyUpdates
        imgSrc="/images/team.jpg"
        altTag="Team"
        tagColor="background-color:red"
        tagName="Bussiness"
        title="Setting up a perfect team for you"
      />
      <WeeklyUpdates
        imgSrc="/images/neuron.jpg"
        altTag="Neuron"
        tagColor="background-color:#B440EB"
        tagName="Tech"
        title="The latest researches in neural area"
      />
      <WeeklyUpdates
        imgSrc="/images/rocket.jpg"
        altTag="Sky Rocket"
        tagColor="background-color:#B440EB"
        tagName="Tech"
        title="3 ways to build your own space rocket"
      />
    </div>
  </section>
</Category>
