---
const today = new Date();
import FooterRecentPosts from "./FooterRecentPosts.astro";
import { Icon } from "astro-icon";
---

<footer class="mx-auto px-3 py-10 bg-black">
  <div class="max-w-[1200px] mx-auto">
    <div>
      <img class="w-40" src="public/images/blogic-logo.svg" alt="Blogic-logo" />
      <p class="text-slate-100 py-3">
        Dive into a world of captivating blog posts from various topics
        including technology, lifestyle, travel, fashion, and more. Join us on
        Blogic and let your journey towards enlightenment begin.
      </p>
      <form
        class="flex flex-col gap-2 pt-3 pb-10 border-b border-gray-600"
        action=""
      >
        <input
          class="py-2 px-4 rounded-md"
          type="text"
          placeholder="Enter your E-mail address"
        />
        <button class="py-2 bg-[#08D9D6] rounded-md">Subscribe</button>
        <p class="text-gray-400 text-center">
          Buy subscribing you agree with our <a class="underline" href="#"
            >Privacy policy</a
          >
        </p>
      </form>
    </div>

	<div class="py-10">
		<h2 class="text-slate-100 text-xl mb-7">Recent posts</h2>
	
	    <FooterRecentPosts title="Top 10 ideas to start up your own bussiness!" tagName="Bussiness" author="Bogdan Bulakh" date="10 Apr 2023" />
	    <FooterRecentPosts title="Easy way to make your first &dollar;1M by producing educational courses" tagName="Marketing" author="Infor Geapsey" date="10 Mar 2023" />
	</div>
  </div>

  <div>
  	<p class="dark:text-slate-100 text-center">
		&copy; {today.getFullYear()} Bogdan Bulakh. <br />
		All rights reserved.
	  </p>
  </div>
</footer>


