---
import { Icon } from "astro-icon";
---

<header class="max-w-[1200px] mx-auto">
  <div class="hidden lg:flex justify-between h-[36px] items-center my-4 px-3">
    <div class="text-sm">
      <ul class="flex gap-5 text-[#595D69]">
        <li>
          <a href="#">About</a>
        </li>

        <li>
          <a href="#">Forum</a>
        </li>

        <li>
          <a href="#">Buy Now</a>
        </li>

        <li>
          <a href="#">Login / Sign Up</a>
        </li>
      </ul>
    </div>

    <div class="flex gap-4">
      <div class="inline-flex items-center rounded-md h-[30px] shadow-sm">
        <a
          href="#"
          aria-current="page"
          class="px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-l-lg hover:bg-gray-100 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-blue-500 dark:focus:text-white"
        >
          A&minus;
        </a>
        <a
          href="#"
          class="px-4 py-2 text-sm font-medium text-blue-700 bg-white border-t border-b border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-blue-500 dark:focus:text-white"
        >
          A
        </a>
        <a
          href="#"
          class="px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-r-md hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-blue-500 dark:focus:text-white"
        >
          A&plus;
        </a>
      </div>

      <div class="flex mx-3 items-center">
        <button class="w-[32px] h-[32px] rounded-full bg-blue-500"
          ><Icon class="w-[16px] text-white mx-auto" name="bi:circle-half" /></button
        >
      </div>

      <div class="flex gap-5">
        <Icon class="w-[16px] mx-auto" name="bi:facebook" />
        <Icon class="w-[16px] mx-auto" name="bi:instagram" />
        <Icon class="w-[16px] mx-auto" name="bi:google" />
        <Icon class="w-[16px] mx-auto" name="bi:github" />
        <Icon class="w-[16px] mx-auto" name="bi:linkedin" />
      </div>
    </div>
  </div>

  <nav
    class="flex justify-between h-[70px] lg:h-[90px] items-center border-t p-3"
  >
    <div>
      <a href="index.html"
        ><img
          class="w-24"
          src="public/images/blogic-logo-black.svg"
          alt="Blogic logo"
        /></a
      >
    </div>

    <div>
      <ul class="hidden lg:flex items-center gap-10 h-[40px]">
        <li>
          <a href="#">Home <span></span></a>
        </li>

        <li>
          <a href="#">Pages</a>
        </li>

        <li>
          <a href="#">Post</a>
        </li>

        <li>
          <a href="#">Tech</a>
        </li>

        <li>
          <a href="#">Dashboard</a>
        </li>
      </ul>
    </div>

    <div class="flex items-center gap-2 md:gap-5">
      <a><Icon class="w-[40px]" name="bi:list" /></a>
      <a
        class="hidden px-4 md:flex items-center text-white bg-black rounded-md h-[40px]"
        >Subscribe</a
      >
      <a><Icon class="w-[30px]" name="bi:search" /></a>
      <a><Icon class="w-[30px]" name="bi:person-circle" /></a>
    </div>
  </nav>
</header>
