---
interface Props {
    imgSrc: string;
    title: string;
	date: string;
}

const { imgSrc, title, date } = Astro.props;
---

<div class="px-3">
  <a href="#" class="flex gap-4">
    <div class="w-4/12">
      <img
        class="rounded-md object-cover"
        src={ imgSrc }
      />
    </div>
    <div class="flex w-8/12 flex-col justify-between">
      <h2 class="dark:text-slate-100 text-sm font-medium">
        { title }
      </h2>
      <p class="dark:text-gray-400 text-xs">{ date }</p>
    </div>
  </a>
</div>
