---
import Icon from "astro-icon";
---

<div class="flex justify-between gap-3 px-3 text-slate-100">
  <a href="#" class="bg-[#3b5998] w-4/12 flex items-center justify-center rounded-md">
    <div class="flex flex-col justify-center items-center py-7">
      <Icon class="w-5 mb-3" name="bi:facebook" />
      <p class="font-medium text-base">126K</p>
      <p class="text-sm">Fans</p>
    </div>
  </a>

  <a href="#" class="bg-gradient-to-tr from-pink-500 to-yellow-500 w-4/12 flex items-center justify-center rounded-md">
    <div class="flex flex-col justify-center items-center py-7">
      <Icon class="w-5 mb-3" name="bi:instagram" />
      <p class="font-medium text-base">1,8M</p>
      <p class="text-sm">Followers</p>
    </div>
  </a>

  <a href="#" class="bg-[#e62117] w-4/12 flex items-center justify-center rounded-md">
    <div class="flex flex-col justify-center items-center py-7">
      <Icon class="w-5 mb-3" name="bi:youtube" />
      <p class="font-medium text-base">22K</p>
      <p class="text-sm">Subs</p>
    </div>
  </a>
</div>
