---
interface Props {
  imgSrc: string;
  tagName: string;
  title: string;
}
import Icon from "astro-icon";
const { imgSrc, title, tagName } = Astro.props;
---

<div class="w-full my-5 pb-4 px-3">
  <div class="relative w-full">
    <img
      class="rounded-lg w-full object-cover contrast-90 max-h-[220px] brightness-75"
      src={imgSrc}
    />

    <div class="px-3 absolute bottom-3 dark:text-slate-100">
      <div
        class="px-3 text-xs h-[22px] flex items-center bg-red-500 w-fit mb-3 rounded-md"
      >
        <div class="flex items-center justify-center gap-3">
          <Icon class="w-[10px] text-slate-100" name="bi:circle-fill" />
          <p class="text-white">{tagName}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="flex flex-col justify-between">
    <h1 class="text-xl font-medium mt-3 dark:text-slate-100">
      {title}
    </h1>

    <div class="items-center gap-2 text-sm pt-4 hidden dark:text-slate-100">
      <div class="w-[40px] h-[40px]">
        <img class="rounded-full" src="public/images/author-max.png" alt="" />
      </div>
      <p>By Max</p>
      <span>&bull;</span>
      <p>Apr 12, 2023</p>
    </div>
  </div>
</div>
