---
interface Props {
  imgSrc: string;
  tagName: string;
  title: string;
  intro: string;
}

import Icon from "astro-icon";
const { imgSrc, title, tagName, intro } = Astro.props;
---

<div class="w-full my-5">
  <div class="relative w-full @container">
    <img
      class="rounded-lg w-full object-cover contrast-90 max-h-[220px] brightness-75"
      src={ imgSrc }
    />

    <div class="px-3 absolute bottom-3 text-slate-100">
      <div
        class="px-3 text-xs h-[22px] flex items-center bg-red-500 w-fit mb-3 rounded-md"
      >
        <div class="flex items-center justify-center gap-3">
          <Icon class="w-[10px] text-slate-100" name="bi:circle-fill" />
          <p class="text-white">{ tagName }</p>
        </div>
      </div>
    </div>
  </div>
  <div>
    <p class="flex items-center gap-2 text-sm text-gray-400 py-2"><span><Icon class="w-3" name="bi:info-circle" /></span>Sponsored</p>
    <h1 class=" text-xl font-medium">
      { title }
    </h1>
    <p class="text-sm leading-5 pt-2">{ intro }</p>
  </div>

  <div
  class="@[300px]:hidden lg:flex lg:items-center @[200px]:items-center gap-3 hidden text-xs md:text-sm pt-4 @[200px]:flex"
>
  <div class="w-[40px] h-[40px]">
    <img class="rounded-full" src="images/author-max.png" alt="" />
  </div>
  <p>By Max</p>
  <span>&bull;</span>
  <p>Apr 12, 2023</p>
  <span>&bull;</span>
  <p>5 min read</p>
</div>
</div>
